flows/Quality_Gate_Static_Code_Analysis.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Create_User_Story_Update</name>
        <label>Create User Story Update</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>RelatedUserStory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedUserStory.SCA_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.copado__Score_v11__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedUserStory.SCA_Violations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.copado__Number_of_Violations__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Story</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Quality Gate: Static Code Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quality Gate: Static Code Analysis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_User_Story</name>
        <label>Update User Story</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>RelatedUserStory</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_User_Story_Update</targetReference>
        </connector>
        <object>copado__Static_Code_Analysis_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RelatedUserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
